---
layout: layouts/base
css: css/post.css
---

<main class="main-wrapper">
  <article class="post-container">
    {% if cover %}
      <img class="post-cover {{ coverPosition }}" src="{{ cover }}" />
    {% endif %}
    <div class="post-content">
      <h1 class="post-title">{{ title }}<small>{{ page.date | displayDate }}</small></h1>
      <div class="author-container">
        <img src="
          {% if author.profile %}
            {{ author.profile }}
          {% else %}
            https://ui-avatars.com/api/?name={{ author.name }}&background=333&color=fff&size=36
          {% endif %}"
        />
        <strong>{{ author.name }}</strong>
      </div>
      {% if tags %}
        <div>
          {% for tag in tags offset:1 %}
            <span class="post-tag">{{ tag }}</span>
          {% endfor %}
        </div>
      {% endif %}
      <hr>
      {{ content | safe }}
    </div>
  </article>
</main>
